
nav {
  background-color: rgb(34, 34, 34);
  display: flex;
  justify-content: space-between;
  padding: 2%;
  position: fixed;
  top: 0;
  left: 0;
  width: 96%;
  z-index: 1;
}

.nav-button {
  background-color: rgb(34, 34, 34);
  border: 2px solid #ff91ec;
  border-radius: 5px;
  color: #ff91ec;
  padding: 1%;
  width: 15%;
}

.nav-button:hover {
  background-color: #ff91ec;
  color: #ffffff;
}
