.featured-movie-section {
  background: none;
  border: none;
  position: relative;
  margin: 6%;
}

.featured-movie-section:hover {
  opacity: 0.7;
}

.featured-movie-img {
  width: 100%;
}

.featured {
  display: block;
  color: white;
  margin: 1% 0%;
  padding: 0.5% 0%;
  width: 100%;
}

.featured h2 {
  color: #ADD481;
  border-bottom: 3px solid #ADD481;;
  font-size: 1.5em;
  padding: 1%;
}

.featured h3 {
  font-size: 2em;
}

@media only screen and (max-width: 1050px) {
  .featured-movie-section {
    margin-top: 10%;
  }
}

@media only screen and (max-width: 700px) {
  .featured-movie-section {
    margin-top: 20%;
  }
}
