.featured-movie-section {
  background: none;
  border: none;
  margin: 5%;
  padding: 0;
  position: relative;
}

.featured-movie-section:hover {
  opacity: 0.7;
}

.featured-movie-img {
  width: 100%;
}

.featured {
  position: absolute;
  top: 0;
  background: linear-gradient(to left, transparent 0%, black 75%, black 100%);
  display: block;
  color: white;
  margin: 1% 0%;
  padding: 0.5% 0%;
  width: 100%;
}

.featured h2 {
  color: #add481;
  border-bottom: 3px solid #add481;
  width: 30%;
  font-size: 1.5em;
  text-align: left;
  padding-left: 20px;
}

.featured h3 {
  font-size: 2em;
  text-align: left;
  padding-left: 20px;
  margin: 0;
}

@media only screen and (max-width: 1050px) {
  .featured-movie-section {
    margin-top: 10%;
  }
}

@media only screen and (max-width: 700px) {
  .featured-movie-section {
    margin-top: 20%;
  }
}
