footer {
  align-items: center;
  background-color: rgb(34, 34, 34);
  color: #add481;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
}

footer a {
  color: #ff91ec;
  text-decoration: none;
}

footer a:hover {
  color: #ffffff;
}
