
footer {
  align-items: center;
  background-color: rgb(34, 34, 34);
  color: #ADD481;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
}

a {
  color: #ff91ec;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}
