nav {
  background-color: rgb(34, 34, 34);
  display: flex;
  align-items: center;
  position: relative;
}

.nav-button {
  background-color: rgb(34, 34, 34);
  border: 2px solid rgb(255, 145, 236);
  border-radius: 5px;
  color: rgb(255, 145, 236);
  min-width: 65px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 4em;
  position: absolute;
  right: 20px;
}

.nav-button:hover {
  background-color: rgb(255, 145, 236);
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 600px) {
  .nav-button {
    width: 80px;
    height: 2.5em;
    position: absolute;
    right: 20px;
    margin: 0;
  }
}
